.ship-page {
    background-image: url('https://images.unsplash.com/photo-1610312737496-f0d322545c6d?auto=format&fit=crop&q=80&w=3540&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}